<div class="columns">
  <div class="column">
    <div class="card">  
      <p class="card-header-title">
        Card header
      </p>
    </div>
  </div>
  <div class="column">
    <div class="card">  
      <p class="card-header-title">
        Card header
      </p>
    </div>
  </div>
  <div class="column">
    <div class="card">  
      <p class="card-header-title">
        Card header
      </p>
    </div>
  </div>
</div>