<div class="tile is-ancestor">
  <div class="tile is-4 is-parent">
    <div class="tile is-child card">  
      <div class="card-content">
        <p class="title is-4">
          30 Days Records
        </p>
        <div>
          <p class="level-item">HIGHEST CONSUMPTION</p>
          <div class="level">
            <p class="level-item">3 days ago</p>
            <p class="level-item">3500</p>
          </div>
          <p class="level-item">HIGHEST EXPENDITURE</p>
          <div class="level">
            <p class="level-item">7 days ago</p>
            <p class="level-item">5320</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tile is-4 is-parent">
    <div class="tile is-child card">  
      <div class="card-content">
        <p class="title is-4">
          Calorie Status
        </p>
        <div>
          <div class="level">
            <p class="level-item">CALORIE SURPLUS</p>
          </div>
          <div class="level">
            <p class="level-item">AVERAGE EXPENSE</p>
            <p class="level-item">10</p>
          </div>
          <div class="level">
            <p class="level-item">AVERAGE INTAKE</p>
            <p class="level-item">10</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tile is-4 is-parent">
    <div class="tile is-child card">  
      <div class="card-content">
        <p class="title is-4">
          Macro Consumption
        </p>
        <div>
          <div class="level">
            <p class="level-item">PROTEIN</p>
            <p class="level-item">10</p>
          </div>
          <div class="level">
            <p class="level-item">CARBS</p>
            <p class="level-item">10</p>
          </div>
          <div class="level">
            <p class="level-item">FAT</p>
            <p class="level-item">10</p>
          </div>
          <div class="level">
            <p class="level-item">ALCOHOL</p>
            <p class="level-item">10</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>